/* VARIABLES */
:root {
  --grey-100: #F2F2F2;
  --grey-300: #B3B3B3;
  --grey-500: #696868;
  --grey-900: #201F24;

  --beige-100: #F8F4F0;
  --beige-500: #98908B;

  --green: #277C78;
  --yellow: #F2CDAC;
  --cyan: #82C9D7;
  --red: #C94736;

}

/* public-sans-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/public-sans-v18-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* public-sans-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/public-sans-v18-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* GENERAL STYLES */
* {
  box-sizing: border-box;
}

html {
  font-family: 'Public Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: var(--beige-100);
  margin: 0;
  color: var(--grey-900);
  font-size: 14px;
}

#container {
  display: grid;
  grid-template-columns: 100%;
  min-height: 100vh;
}

main {
  padding: 24px 16px;
}

section {
  background-color: white;
  padding: 24px 20px;
  border-radius: 10px;
  position: relative;
}

ul {
  list-style: none;
  padding: 0;
}

/* Typography */
h1 {
  font-size: 32px;
  margin-top: 0;
}

h2 {
  font-size: 20px;
  margin-top: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
}

.logout-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: transparent;
  font-size: 14px;
  border-bottom: 1px solid var(--grey-500);
  padding-bottom: 2px;
}

.new-btn {
  background-color: var(--grey-900);
  color: white;
  padding: 16px;
  border-radius: 10px;
  font-weight: 700;
  height: 53px;
  // width: 154px;
}

/* transaction images */
.t-image {
  border-radius: 50%;
}

/* general styles tablet */
@media screen and (min-width: 699px) {
  main {
    padding: 32px 40px;
  }

  h1 {
    margin-bottom: 32px;
  }
}

/* NAVIGATION STYLES */
nav {
  order: 1;
  background-color: var(--grey-900);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  align-self: end;
  height: fit-content;

  .logo-l,
  .logo-s {
    display: none;
  }

  .nav-links {
    display: flex;
    align-items: center;
    padding: 16px 8px 0px 8px;
    margin: 0;

    a {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-items: center;
      position: relative;
      width: 20%;
      height: 44px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      color: var(--grey-300);


      // svg {
      //   height: 24px;
      //   width: 24px;
      // }

      span {
        display: none;
      }

      .line {
        width: 100%;
        height: 5px;
        position: absolute;
        bottom: 0;
      }
    }

    .cs-active {
      background-color: white;

      .line {
        background-color: var(--green);
      }

      svg {
        path {
          fill: var(--green);
        }
      }
    }

  }

  button {
    display: none;
    margin-top: 100px;
    padding-left: 32px;
  }
}

/* desktop layout */
@media screen and (min-width: 999px) {
  #container {
    grid-template-columns: auto 1fr;

  }

  // mini nav 
  nav {
    order: 0;
    height: 100%;
    border-radius: 0 10px 10px 0;


    .logo-s {
      display: block;
    }

    .logo-s,
    .logo-l {
      margin-top: 40px;
      margin-left: 32px;
    }

    .nav-links {
      flex-direction: column;
      align-items: start;
      padding: 0;
      margin-top: 64px;
      gap: 16px;

      a {
        display: flex;
        align-items: center;
        gap: 16px;
        width: 100%;
        padding: 16px 32px;
        border-radius: 0;

        svg {
          height: 24px;
          width: 24px;
        }

        .line {
          height: 100%;
          width: 5px;
          left: 0;

        }
      }
    }

    button {
      display: flex;
      gap: 16px;

      svg {
        transform: rotate(.5turn);
      }

      span {
        display: none;
      }
    }
  }

  // expanded nav
  .expanded {
    width: 300px;

    .logo-s {
      display: none;
    }

    .logo-l {
      display: block;
    }

    .nav-links {

      a {

        border-radius: 0 10px 10px 0;
        width: 80%;

        // text
        span {
          display: inline;
          font-weight: 700;
        }

      }

      .cs-active {
        span {
          color: var(--grey-900);
        }
      }
    }

    button {
      svg {
        transform: rotate(1turn);
      }

      span {
        display: inline;
        color: var(--grey-300);
        font-weight: 700;
      }
    }
  }
}

// AUTH PAGES
.auth-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  position: relative;
  padding: 16px;

  .logo {
    width: 100%;
    background-color: var(--grey-900);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 0;
  }


  .illustration {
    display: none;
  }

  .form-wrapper {
    width: 100%;
    max-width: 560px;
    background-color: white;
    border-radius: 10px;
    padding: 24px 20px;

    h2 {
      font-size: 32px;
    }

    form {
      .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        gap: 8px;
        position: relative;

        label {
          color: var(--grey-500);
          font-weight: 700;
          font-size: 12px;

        }

        input {
          font: inherit;
          border: 1px solid var(--grey-300);
          border-radius: 10px;
          padding: 12px 20px;
          width: 100%;
        }

        button {
          position: absolute;
          right: 20px;
          bottom: 12px;
        }
      }

      .error {
        span {
          position: absolute;
          right: 0;
          color: var(--red);
        }
      }

      button[type="submit"] {
        width: 100%;
        background-color: var(--grey-900);
        color: white;
        padding: 16px;
        border-radius: 10px;
        font-weight: 700;
        margin-top: 32px;
      }

    }

    p {
      margin-top: 32px;
      color: var(--grey-500);
      text-align: center;

      button {
        margin-left: 6px;
        border-bottom: 1px solid var(--grey-900);
        font-weight: 700;
      }
    }
  }
}

/* tablet styles */
@media screen and (min-width: 560px) {
  .auth-container {
    .form-wrapper {
      padding: 32px;
    }
  }
}

/* desktop styles */
@media screen and (min-width: 1399px) {
  .auth-container {
    grid-template-columns: 42% 58%;
    padding: 20px;

    .logo {
      display: none;
    }

    .illustration {
      display: block;
      padding: 40px;
      background-image: url('/images/illustration-authentication.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 100%;
      width: 560px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      img {
        height: 21px;
        width: 121px;
      }

      div {
        color: white;

        h1 {
          margin-bottom: 24px;
        }
      }

    }
  }
}



// FORM STYLES
.form-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #201f2423;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;

  .cs-form,
  .delete-form {
    position: relative;
    background-color: white;
    border-radius: 10px;
    padding: 24px 20px;
    width: 100%;
    max-width: 560px;

    h2 {
      max-width: 80%;
    }

    .close-btn {
      position: absolute;
      right: 20px;
      top: 24px;
    }

    p {
      color: var(--grey-500);
    }

    .form-group {
      display: flex;
      flex-direction: column;
      gap: 6px;
      margin-bottom: 16px;
      position: relative;

      span {
        text-align: right;
        color: var(--grey-500);
        font-size: 12px;
      }

      .error {
        position: absolute;
        right: 5px;
        color: var(--red);
      }

      // money symbol
      img {
        position: absolute;
        top: 35px;
        left: 10px;
      }

      img+input {
        padding-left: 35px;
      }
    }

    label {
      color: var(--grey-500);
      font-weight: 700;
      font-size: 12px;
    }

    select {
      appearance: none;


    }

    select,
    input {
      font: inherit;
      border: 1px solid var(--grey-300);
      border-radius: 10px;
      padding: 12px 20px;
      width: 100%;
    }



    div {
      position: relative;

      svg {
        position: absolute;
        right: 20px;
        top: 21px;
      }
    }

    .select-theme {
      display: inline-block;
      height: 5px;
      width: 5px;
      border-radius: 50%;
    }

    button[type="submit"] {
      padding: 16px;
      width: 100%;
      border-radius: 10px;
      background-color: var(--grey-900);
      color: white;
      font-weight: 700;
    }
  }

  .delete-form {
    button[type="submit"] {
      background-color: var(--red);
      color: white;
    }

    .back-btn {
      padding: 16px;
      padding-bottom: 0;
      width: 100%;
      border-radius: 10px;
      background-color: inherit;
      color: var(--grey-500);
    }
  }

  .add-form,
  .withdraw-form {
    .total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;

      span {
        color: var(--grey-500);

        &:last-child {
          font-size: 32px;
          font-weight: 700;
          color: var(--grey-900);
        }
      }
    }

    .progress-bar {
      width: 100%;
      height: 8px;
      border-radius: 10px;
      position: relative;
      margin-bottom: 13px;
      background-color: var(--beige-100);

      div {
        height: 8px;
        border-radius: 10px;
      }

      .initial-value {
        background-color: var(--grey-900);
      }
    }

    .percentage {
      margin-bottom: 20px;
    }

    .form-group {
      margin-bottom: 20px;
    }
  }

  .add-form {
    .progress-bar {
      .new-value {
        background-color: var(--green);
        position: absolute;
        left: 0;
        top: 0;
        max-width: 100%;

      }

      .initial-value {
        z-index: 10;
        position: relative;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-right: 2px solid var(--grey-100);
      }
    }

    .percentage {
      display: flex;
      justify-content: space-between;

      span {
        color: var(--grey-500);

        &:first-child {
          font-weight: 700;
          color: var(--green);
        }
      }
    }
  }

  .withdraw-form {
    .progress-bar {
      .new-value {
        background-color: var(--grey-900);
        position: relative;
        z-index: 10;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-right: 2px solid var(--grey-100);
      }

      .initial-value {
        background-color: var(--red);
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    .percentage {
      display: flex;
      justify-content: space-between;

      span {
        color: var(--grey-500);

        &:first-child {
          font-weight: 700;
          color: var(--red);
        }
      }
    }
  }
}

/* tablet styles */
@media screen and (min-width: 550px) {
  .form-modal {

    .cs-form,
    .delete-form {
      padding: 32px;

      .close-btn {
        top: 42px;
        right: 32px;
      }

      h2 {
        font-size: 32px;
      }
    }
  }
}