.bills-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 24px;
}

.row-1 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 24px;

    .total {
        background-color: var(--grey-900);
        color: white;
        padding: 24px 10px;
        border-radius: 10px;
        display: grid;
        grid-template-areas: "svg text"
            "svg total";
        grid-template-columns: 1fr 3fr;
        column-gap: 20px;
        row-gap: 12px;

        svg {
            height: 40px;
            width: 40px;
            grid-area: svg;
            justify-self: center;
            align-self: center;
        }

        p {
            margin: 0;

            svg {
                fill: white;
                height: 45px;
                width: 45px;
                position: relative;
                left: 8px;
            }

            &:nth-of-type(1) {
                grid-area: text;
            }

            &:last-child {
                font-weight: 700;
                font-size: 32px;
                grid-area: total;
                display: flex;
                align-items: center;
                position: relative;
                right: 20px;
            }
        }
    }

    .summary {
        background-color: white;
        padding: 20px;
        border-radius: 10px;

        h2 {
            margin-bottom: 4px;
        }

        ul {

            li {
                padding: 16px 0;
                border-bottom: 1px solid var(--grey-100);
                display: flex;
                justify-content: space-between;

                span {
                    color: var(--grey-500);
                    display: flex;
                    align-items: center;

                    svg {
                        height: 18px;
                        width: 18px;
                        position: relative;
                        left: 3px;

                    }

                    &:last-child {
                        font-weight: 700;
                        color: var(--grey-900);
                    }
                }

                &:last-child {
                    border-bottom: none;
                    color: var(--red);
                    padding-bottom: 0;

                    svg {
                        fill: var(--red);
                    }

                    span {
                        &:last-child {
                            color: var(--red);
                        }
                    }
                }
            }

        }
    }
}

.row-2 {
    background-color: white;
    border-radius: 10px;
    padding: 24px 20px;

    .top-bar {
        display: flex;
        align-items: center;
        gap: 24px;

        .search-bar {
            position: relative;

            input {
                font: inherit;
                border: 1px solid var(--grey-300);
                border-radius: 10px;
                padding: 12px 20px;
                width: 230px;
            }

            button {
                position: absolute;
                right: 18px;
                top: 14px;

                svg {
                    fill: var(--grey-300);
                }
            }
        }

        .sort {
            position: relative;

            .label {
                display: none;
            }

            button {
                span {
                    display: none;
                }
            }

            #listbox-sort {
                position: absolute;
                visibility: hidden;
                flex-direction: column;
                padding: 12px 20px;
                background-color: white;
                border-radius: 10px;
                z-index: 10;
                box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
                top: 40px;
                right: 20px;
                width: max-content;
                max-height: 300px;
                overflow: auto;
                scrollbar-color: var(--grey-100) white;
                scrollbar-width: thin;

                &::-webkit-scrollbar-track {
                    border-radius: 10px;
                }


                span {
                    padding: 12px 0;
                    border-bottom: 1px solid var(--grey-100);
                    color: var(--grey-500);
                }

                li {
                    text-align: left;
                    padding: 12px 0;
                    border-bottom: 1px solid var(--grey-100);
                    cursor: pointer;

                    &:last-child {
                        border-bottom: none;
                    }

                    &:focus {
                        background-color: var(--grey-900);
                        color: white;
                    }
                }

                .cs-active {
                    font-weight: 700;
                }

                &+svg {
                    display: none;
                }
            }
        }

        // active select
        .cs-active {

            #listbox-sort,
            #listbox-category {
                display: flex;
                visibility: visible;
            }

        }
    }

    table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;

        thead {
            visibility: collapse;
        }

        tbody {

            tr {
                border-bottom: 1px solid var(--grey-100);
                display: grid;
                grid-template-columns: 2fr 1fr;
                // grid-template-rows: 1fr 1fr;
                width: 77vw;
                grid-template-areas: "name name"
                    "date price";
                padding: 20px 0;
                row-gap: 8px;

                &:last-of-type {
                    border-bottom: none;
                }

                td {
                    color: var(--grey-500);
                    font-size: 12px;

                    img {
                        border-radius: 50%;
                    }

                    &:nth-of-type(1) {
                        grid-area: name;
                        display: flex;
                        gap: 16px;
                        align-items: center;
                        color: var(--grey-900);
                        font-weight: 700;
                    }

                    &:nth-of-type(2) {
                        grid-area: date;
                        color: var(--green);
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        font-size: 12px;
                    }

                }

                .amount {
                    grid-area: price;
                    justify-self: end;
                    font-weight: 700;
                    color: var(--grey-900);

                    display: flex;
                    align-items: center;

                    svg {
                        height: 17px;
                        width: 17px;
                        position: relative;
                        left: 4px;
                    }
                }

                .danger {
                    color: var(--red);

                    svg {
                        fill: var(--red);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 699px) {
    .row-1 {
        flex-direction: row;
        gap: 24px;

        .total {
            padding: 24px;
            flex: 50;
            grid-template-areas: "svg"
                "text"
                "total";
            grid-template-columns: 1fr;
            gap: 0;

            svg {
                justify-self: start;
            }

            p {
                &:nth-of-type(1) {
                    align-self: end;
                }
            }

        }

        .summary {
            flex: 50;
        }
    }

    .row-2 {
        padding: 32px;

        .top-bar {
            margin-bottom: 24px;
            justify-content: space-between;

            .search-bar {
                width: 320px;

                input {
                    width: 100%;
                }
            }

            .sort {
                display: flex;
                align-items: center;
                gap: 8px;

                .label {
                    display: revert;
                    color: var(--grey-500);
                }

                button {
                    border: 1px solid var(--grey-300);
                    border-radius: 10px;
                    padding: 12px 20px;
                    width: 113px;
                    text-align: left;
                    background-color: transparent;
                    z-index: 2;

                    span {
                        display: inline-block;
                    }

                    svg {
                        display: none;

                    }
                }

                #listbox-sort {
                    width: 113px;
                    right: 0;

                    span {
                        display: none;
                    }
                }

                #listbox-sort+svg {
                    display: revert;
                    position: absolute;
                    right: 20px;

                }
            }
        }

        table {
            thead {
                visibility: visible;

                tr {
                    border-bottom: 1px solid var(--grey-100);
                    height: 50px;

                    th {
                        text-align: left;
                        font-size: 12px;
                        font-weight: 400;
                        color: var(--grey-500);

                        &:nth-of-type(1) {
                            width: 60%;
                        }

                        &:nth-of-type(2) {
                            text-align: left;
                        }

                        &:last-child {
                            text-align: right;
                        }
                    }
                }
            }

            tbody {
                tr {
                    display: table-row;
                    height: 72px;

                    td {
                        &:nth-of-type(1) {
                            display: table-cell;

                            .name {
                                position: relative;
                                bottom: 10px;
                                left: 16px;
                            }
                        }

                        &:nth-of-type(2) {
                            display: table-cell;
                            text-align: left;

                            img {
                                position: relative;
                                top: 2px;
                                left: 8px;
                            }
                        }
                    }

                    .amount {
                        display: table-cell;
                        text-align: right;

                        svg {
                            position: relative;
                            top: 4px;

                        }
                    }
                }
            }

        }
    }
}

@media screen and (min-width: 1399px) {
    .bills-wrapper {
        display: flex;
        gap: 24px;
        margin-top: 32px;
    }

    .row-1 {
        flex-direction: column;
        flex: 30;
        height: fit-content;

        .total {
            flex: auto;
            height: 190px;
        }
    }

    .row-2 {
        flex: 70;
    }
}