.row-1 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 24px;

    .total {
        background-color: var(--grey-900);
        color: white;
        padding: 24px 10px;
        border-radius: 10px;
        display: grid;
        grid-template-areas: "svg text"
            "svg total";
        grid-template-columns: 1fr 3fr;
        column-gap: 20px;
        row-gap: 12px;

        svg {
            height: 40px;
            width: 40px;
            grid-area: svg;
            justify-self: center;
            align-self: center;
        }

        p {
            margin: 0;

            svg {
                fill: white;
                height: 45px;
                width: 45px;
                position: relative;
                left: 8px;
                top: 1px;
            }

            &:first-child {
                grid-area: text;
            }

            &:last-child {
                font-weight: 700;
                font-size: 32px;
                grid-area: total;
                display: flex;
                align-items: center;
                position: relative;
                right: 20px;
            }
        }
    }

    .summary {
        background-color: white;
        padding: 20px;
        border-radius: 10px;

        h2 {
            margin-bottom: 4px;
        }

        ul {

            li {
                padding: 16px 0;
                border-bottom: 1px solid var(--grey-300);
                display: flex;
                justify-content: space-between;

                span {
                    color: var(--grey-500);
                    display: flex;
                    align-items: center;

                    svg {
                        height: 18px;
                        width: 18px;
                        position: relative;
                        left: 3px;

                    }

                    &:last-child {
                        font-weight: 700;
                        color: var(--grey-900);
                    }
                }

                &:last-child {
                    border-bottom: none;
                    color: var(--red);
                    padding-bottom: 0;

                    svg {
                        fill: var(--red);
                    }

                    span {
                        &:last-child {
                            color: var(--red);
                        }
                    }
                }
            }

        }
    }
}

.row-2 {
    background-color: white;
    border-radius: 10px;
    padding: 24px 20px;

    .top-bar {
        display: flex;
        align-items: center;
        gap: 24px;

        .search-bar {
            position: relative;

            input {
                font: inherit;
                border: 1px solid var(--grey-300);
                border-radius: 10px;
                padding: 12px 20px;
                width: 250px;
            }

            button {
                position: absolute;
                right: 18px;
                top: 14px;

                svg {
                    fill: var(--grey-300);
                }
            }
        }

        .sort {
            position: relative;

            #listbox-sort {
                position: absolute;
                visibility: hidden;
                flex-direction: column;
                padding: 12px 20px;
                background-color: white;
                border-radius: 10px;
                z-index: 10;
                box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
                top: 40px;
                right: 20px;
                width: max-content;
                max-height: 300px;
                overflow: auto;
                scrollbar-color: var(--grey-100) white;
                scrollbar-width: thin;

                &::-webkit-scrollbar-track {
                    border-radius: 10px;
                }


                span {
                    padding: 12px 0;
                    border-bottom: 1px solid var(--grey-100);
                    color: var(--grey-500);
                }

                li {
                    text-align: left;
                    padding: 12px 0;
                    border-bottom: 1px solid var(--grey-100);
                    cursor: pointer;

                    &:last-child {
                        border-bottom: none;
                    }

                    &:focus {
                        background-color: var(--grey-900);
                        color: white;
                    }
                }

                .cs-active {
                    font-weight: 700;
                }

                &+svg {
                    display: none;
                }
            }
        }

        // active select
        .cs-active {

            #listbox-sort,
            #listbox-category {
                display: flex;
                visibility: visible;
            }

        }
    }

    table {
        width: 100%;
        table-layout: fixed;

        thead {
            visibility: collapse;
        }

        tbody {

            tr {
                border-bottom: 1px solid var(--grey-100);
                display: grid;
                grid-template-columns: 2fr 1fr;
                // grid-template-rows: 1fr 1fr;
                width: 77vw;
                grid-template-areas: "name name"
                    "date price";
                padding: 20px 0;
                row-gap: 8px;

                &:last-of-type {
                    border-bottom: none;
                }

                td {
                    color: var(--grey-500);
                    font-size: 12px;

                    img {
                        border-radius: 50%;
                    }

                    &:nth-of-type(1) {
                        grid-area: name;
                        display: flex;
                        gap: 16px;
                        align-items: center;
                        color: var(--grey-900);
                        font-weight: 700;
                    }

                    &:nth-of-type(2) {
                        grid-area: date;
                        color: var(--green);
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        font-size: 12px;
                    }

                }

                .amount {
                    grid-area: price;
                    justify-self: end;
                    font-weight: 700;
                    color: var(--grey-900);

                    display: flex;
                    align-items: center;

                    svg {
                        height: 17px;
                        width: 17px;
                        position: relative;
                        left: 4px;
                        top: .5px;
                    }
                }

                .danger {
                    color: var(--red);

                    svg {
                        fill: var(--red);
                    }
                }
            }
        }
    }
}