.header {
    max-width: 1400px;
    margin: 0 auto;

    .t-h1 {
        font-size: 24px;
    }

    .t-btn {
        font-size: 14px;
        padding: 10px;
    }
}

.transactions-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 24px 20px;
    background-color: white;
    border-radius: 10px;
    margin-top: 24px;

    .top-bar {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 24px;

        form {
            position: relative;

            input {
                font: inherit;
                border: 1px solid var(--grey-300);
                border-radius: 10px;
                padding: 12px 20px;
            }

            button {
                position: absolute;
                right: 18px;
                top: 14px;

                svg {
                    fill: var(--grey-300);
                }
            }
        }

        .col-2 {
            display: flex;
            gap: 20px;
        }

        .sort {
            position: relative;

            .label {
                display: none;
            }

            // button text
            button {
                text-align: center;

                span {
                    display: none;
                }
            }

            #listbox-sort {
                position: absolute;
                visibility: hidden;
                flex-direction: column;
                padding: 12px 20px;
                background-color: white;
                border-radius: 10px;
                z-index: 10;
                box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
                top: 40px;
                right: 20px;
                width: max-content;
                max-height: 300px;
                overflow: auto;
                scrollbar-color: var(--grey-100) white;
                scrollbar-width: thin;

                &::-webkit-scrollbar-track {
                    border-radius: 10px;
                }

                span {
                    padding: 12px 0;
                    border-bottom: 1px solid var(--grey-100);
                    color: var(--grey-500);
                }

                li {
                    text-align: left;
                    padding: 12px 0;
                    border-bottom: 1px solid var(--grey-100);
                    cursor: pointer;

                    &:last-child {
                        border-bottom: none;
                    }

                    &:focus {
                        background-color: var(--grey-900);
                        color: white;
                    }
                }

                .cs-active {
                    font-weight: 700;
                }

                &+svg {
                    display: none;
                }
            }
        }

        .category {
            position: relative;

            .label {
                display: none;
            }

            // button text
            button {
                text-align: center;

                span {
                    display: none;
                }
            }

            #listbox-category {
                position: absolute;
                display: none;
                flex-direction: column;
                padding: 12px 20px;
                background-color: white;
                border-radius: 10px;
                z-index: 10;
                box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
                top: 40px;
                right: 50px;
                width: max-content;
                max-height: 300px;
                overflow: auto;
                scrollbar-color: var(--grey-100) white;
                scrollbar-width: thin;

                span {
                    padding: 12px 0;
                    border-bottom: 1px solid var(--grey-100);
                    color: var(--grey-500);
                }

                li {
                    text-align: left;
                    padding: 12px 0;
                    border-bottom: 1px solid var(--grey-100);
                    cursor: pointer;

                    &:last-child {
                        border-bottom: none;
                    }

                    &:focus {
                        background-color: var(--grey-900);
                        color: white;
                    }
                }

                .cs-active {
                    font-weight: 700;
                }

                &+svg {
                    display: none;
                }
            }

        }

        // active select
        .cs-active {

            #listbox-sort,
            #listbox-category {
                display: flex;
                visibility: visible;
            }

        }
    }

    table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;

        thead {
            visibility: collapse;

            tr {
                th {
                    &:last-child {
                        text-align: right;
                    }
                }
            }
        }

        tbody {

            tr {
                border-bottom: 1px solid var(--grey-100);
                display: grid;
                grid-template-columns: 2fr 1fr;
                // grid-template-rows: 1fr 1fr;
                width: 77vw;
                grid-template-areas: "name price"
                    "category date";
                padding: 16px 0 6px 0;
                cursor: pointer;

                &:last-of-type {
                    border-bottom: none;
                }

                td {
                    color: var(--grey-500);
                    font-size: 12px;

                    img {
                        border-radius: 50%;
                    }

                    &:nth-of-type(1) {
                        grid-area: name;
                        display: flex;
                        gap: 12px;

                    }

                    &:nth-of-type(2) {
                        grid-area: category;
                        padding-left: 44px;
                        position: relative;
                        bottom: 12px;
                    }

                    &:nth-of-type(3) {
                        grid-area: date;
                        text-align: right;
                        position: relative;
                        bottom: 12px;
                    }

                    &:nth-of-type(4) {
                        grid-area: price;
                        text-align: right;
                        position: relative;
                        bottom: 5px;
                    }
                }

                .name,
                .amount {
                    font-weight: 700;
                    color: var(--grey-900);
                    font-size: 14px;
                }

                .name {
                    position: relative;
                    bottom: 5px;
                }

                .income {
                    color: var(--green);
                }
            }

        }
    }

    .page-buttons {
        position: relative;
        display: flex;
        margin-top: 10px;
        gap: 8px;
        justify-content: center;

        button {
            border: 1px solid var(--grey-300);
            border-radius: 10px;
            height: 40px;
            width: 40px;

            // last page button - when there is a toggle button (test for different page sizes)*
            &:nth-of-type(4) {
                order: 3;
            }

            &:disabled {
                svg {
                    path {
                        fill: var(--grey-300);
                    }
                }
            }

            &:hover {
                background-color: var(--grey-500);
                color: white;

                svg {
                    path {
                        fill: white;
                    }
                }
            }

        }

        // prev button
        .prev-btn {
            order: 0;

            span {
                display: none;
            }
        }

        // next button
        .next-btn {
            order: 5;

            span {
                display: none;
            }
        }

        .toggle-btn {
            order: 2;
        }

        // show hide toggle buttons
        .toggle-btn+div {
            position: absolute;
            visibility: hidden;
            bottom: 50px;
            background-color: white;
            padding: 10px;
            box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            display: flex;
            gap: 8px;
        }

        .cs-active+div {
            visibility: visible;
        }

        // current page button
        .current-page {
            background-color: var(--grey-900);
            color: white;
            border: transparent;
        }
    }
}

@media screen and (min-width: 400px) {
    .transactions-wrapper {
        .top-bar {
            gap: 32px;

            .col-2 {
                gap: 24px;
            }
        }
    }
}

@media screen and (min-width: 450px) {
    .header {
        .t-h1 {
            font-size: 32px;
        }

        .t-btn {
            font-size: 16px;
            padding: 16px;
        }
    }
}

@media screen and (min-width: 500px) {
    .transactions-wrapper {
        .top-bar {
            form {
                input {
                    width: 300px;
                }
            }
        }
    }
}

/* tablet styles */
@media screen and (min-width: 775px) {
    .transactions-wrapper {
        padding: 32px;
        margin-top: 32px;

        .top-bar {
            gap: 0;
            justify-content: space-between;

            form {

                input {
                    width: 215px;
                }
            }

            .sort {
                display: flex;
                align-items: center;
                gap: 8px;

                .label {
                    display: inline-block;
                    color: var(--grey-500);
                }

                button {
                    border: 1px solid var(--grey-300);
                    width: 114px;
                    height: 45px;
                    border-radius: 10px;
                    font-size: 14px;
                    text-align: left;
                    padding-left: 20px;

                    span {
                        display: inline-block;
                    }

                    svg {
                        display: none;
                    }
                }


                #listbox-sort {
                    right: 0;
                    width: 114px;
                    top: 45px;

                    span {
                        display: none;
                    }

                    &+svg {
                        display: inline-block;
                        position: absolute;
                        right: 15px;
                        top: 20px;
                    }
                }
            }

            .category {
                display: flex;
                align-items: center;
                gap: 8px;

                .label {
                    display: inline-block;
                    color: var(--grey-500);
                }

                button {
                    border: 1px solid var(--grey-300);
                    width: 140px;
                    height: 45px;
                    border-radius: 10px;
                    font-size: 14px;
                    text-align: left;
                    padding-left: 20px;

                    span {
                        display: inline-block;
                    }

                    svg {
                        display: none;
                    }
                }

                #listbox-category {
                    right: 0;
                    width: 140px;
                    top: 45px;

                    span {
                        display: none;
                    }

                    &+svg {
                        display: inline-block;
                        position: absolute;
                        right: 15px;
                        top: 20px;
                    }
                }
            }
        }

        table {
            width: 100%;
            table-layout: fixed;

            thead {
                visibility: visible;

                tr {
                    height: 72px;

                    th {
                        text-align: center;
                        color: var(--grey-500);
                        font-weight: 400;
                        font-size: 12px;

                        &:first-child {
                            text-align: left;
                            width: 45%;
                        }

                        &:nth-of-type(2) {
                            text-align: left;
                        }

                        &:nth-of-type(3) {
                            text-align: left;

                        }
                    }
                }
            }

            tbody {
                tr {
                    display: table-row;
                    height: 72px;

                    td {

                        &:nth-of-type(1) {
                            display: table-cell;

                        }

                        &:nth-of-type(2) {
                            position: static;
                            text-align: left;
                            padding: 0;
                        }

                        &:nth-of-type(3) {
                            position: static;
                            text-align: left;

                        }

                        &:nth-of-type(4) {
                            position: relative;

                        }
                    }

                    .name {
                        bottom: 10px;
                        left: 10px;

                    }

                }

            }
        }

        .page-buttons {
            margin-top: 30px;

            button {
                border: 1px solid var(--grey-300);
                border-radius: 10px;
                height: 40px;
                width: 40px;

            }

            // prev button
            .prev-btn {
                position: absolute;
                left: 0;
                width: 95px;
                display: flex;
                gap: 16px;
                align-items: center;
                justify-content: center;


                span {
                    display: inline-block;
                }
            }

            // next button
            .next-btn {
                position: absolute;
                right: 0;
                width: 95px;
                display: flex;
                gap: 16px;
                align-items: center;
                justify-content: center;

                span {
                    display: inline-block;
                }
            }

            .toggle-btn {
                order: 2;
                display: none;
            }

            // show hide toggle buttons
            .toggle-btn+div {
                position: static;
                visibility: visible;
                background-color: transparent;
                padding: 0;
                box-shadow: none;
                gap: 8px;
            }

        }
    }
}

@media screen and (min-width: 900px) {
    .transactions-wrapper {
        .top-bar {
            form {
                input {
                    width: 320px;
                }
            }
        }
    }
}

/* larger screens */
@media screen and (min-width: 999px) {
    .transactions-wrapper {
        padding: 32px;
    }
}